// Place all the styles related to the event_times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//colors
$white: #ffffff;
$color_pippin_approx: #ffdddd;
$color_nebula_approx: #ccdddd;

.panel{
  margin-bottom: 0px
}
.event_container{
  padding:5px;
}
